fastapi
uvicorn[standard]
sqlalchemy[asyncmy]  # 使用 asyncmy 驱动来支持 MySQL
pydantic[email]
python-dotenv
alembic         # 用于数据库迁移
python-jose[cryptography] # (可选) 用于未来的JWT用户认证
passlib[bcrypt]         # (可选) 用于密码哈希
pydantic-settings
slowapi